<style>
    img {
        max-width: 300px;
        max-height: 300px;
    }

    .product {
        display: flex;
    }
</style>

<h1 style="font-family: Arial">НетМаркет</h1>

<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/discounts">Акции</a>

<div class="product">
    <img src="https://i.pinimg.com/474x/ea/60/5c/ea605cd0d27d0b87ae318c16b6286383.jpg">
    <h2>Моноколесо</h2>
    <p>Интроцикл (англ. monowheel) — разновидность моноцикла, в которой водитель находится внутри колеса. Первые интроциклы с ручным[1] и педальным приводом были запатентованы[2] и построены в конце XIX века. Большинство интроциклов, построенных в XX веке, были моторизоваными. </p>
</div>

<div class="product">
    <img src="https://i-market.shop/upload/iblock/865/14gwzmlv576w1yc4m7jto928d6ldn1z2.jpg">
    <h2>Смарт часы</h2>
    <p>Тут какое-то мега крутое описание</p>
</div>