{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1>НетМаркет</h1>
    </div>

    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/products">Товары</a>
        <a href="/discounts">Акции</a>
    </div>
</div>


<div class="productList">

    {% for product in products %}
<div class="product">
    <img src="{% static 'monowheel.webp' %}">
    <div>
        <h2>Моноколесо</h2>
        <p>Моноколесо – это инновационное средство передвижения, которое сочетает в себе стиль, удобство и функциональность.

    Это компактное и лёгкое устройство позволяет вам быстро и легко передвигаться по городу, не завися от пробок и общественного транспорта. Моноколесо идеально подходит для тех, кто ценит свободу и мобильность.</p>
    </div>
    <div class="priceSection">
        <h3>19 990 ₽</h3>
        <button>Купить</button>
    </div>
</div>
    {% endfor %}


<!--<div class="product">-->
<!--    <img src="https://i-market.shop/upload/iblock/865/14gwzmlv576w1yc4m7jto928d6ldn1z2.jpg">-->
<!--    <div>-->
<!--        <h2>Смарт часы</h2>-->
<!--        <p>Смарт-часы — это не просто стильный аксессуар, это ваш персональный помощник и тренер в одном устройстве!-->

<!--Они помогут вам следить за здоровьем, быть в курсе всех событий и оставаться на связи с окружающим миром. Смарт-часы оснащены множеством функций: от отслеживания физической активности до управления музыкой и уведомлениями.</p>-->
<!--    </div>-->
<!--    <div class="priceSection">-->
<!--        <h3>19 990 ₽</h3>-->
<!--        <button>Купить</button>-->
<!--    </div>-->
<!--</div>-->

</div>
