{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1 class="logoText">НетМаркет</h1>
    </div>

    <div class="navigation">
        <a class="navlink" href="/">Главная</a>
        <a class="navlink" href="/products">Товары</a>
        <a class="navlink" href="/discounts">Акции</a>
    </div>
</div>


<div class="productList">

    {% for product in products %}
<div class="product">
    <img class="productPreview" src="{{ product.image_url }}">
    <div>
        <a href="/product/{{ product.id }}">
            <h2 class="textGreen">{{ product.name }}</h2>
        </a>
        <p>{{ product.description }}</p>
    </div>
    <div class="priceSection">
        <h3>{{ product.price }} ₽</h3>
        <button>Купить</button>
    </div>
</div>
    {% endfor %}

</div>
