{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="heading">
    <div class="logo">
        <h1 class="logoText">НетМаркет</h1>
    </div>
</div>

<div class="payment">
    <h1>Товар: {{product.name}}</h1>
    <h2>К оплате: {{product.price}} ₽</h2>

    <div class="vspace"></div>

    <h2>Реквизиты для перевода:</h2>
    <p><i class="fa-solid fa-phone-volume"></i> +78005553535</p>
    <p><i class="fa-solid fa-user"></i> Иванов Иван Иванович</p>

    <div class="vspace"></div>

    <h2>Данные для доставки</h2>
    <form class="paymentDetailsForm" method="POST">
        {% csrf_token %}

        <label>Ваше ФИО:</label>
        <input class="inputElement" name="fullname">

        <label>Адрес доставки:</label>
        <input class="inputElement" name="address">

        <label>Номер телефона для связи:</label>
        <input class="inputElement" name="phone">

        <div class="vspace"></div>

        <button>Оплатил</button>
    </form>
</div>