{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1 class="logoText">НетМаркет</h1>
    </div>

    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/products">Товары</a>
        <a href="/discounts">Акции</a>
    </div>
</div>

<div class="productCard">
    <img src="/static/monowheel.webp">
    <div class="productInfo">
        <h1>Название продукта</h1>
        <h3>100 рублей</h3>
    </div>
</div>

<div class="productDetails">
    <h1>Описание:</h1>
    <p>
        Lorem Ipsum
    </p>

</div>