{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1 class="logoText">НетМаркет</h1>
    </div>

    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/products">Товары</a>
        <a href="/discounts">Акции</a>
    </div>
</div>

<div class="productCard">
    <img src="{{ product.image_url }}">
    <div class="productInfo">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.price }} ₽</h3>

        <button>Купить</button>
    </div>
</div>

<div class="productDetails">
    <h1>Описание:</h1>
    <p>
        {{ product.description }}
    </p>

</div>