{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="heading">
    <div class="logo">
        <h1 class="logoText">НетМаркет</h1>
    </div>
</div>

<div class="payment" style="text-align: center">
    <h1><i class="fa-solid fa-hand-peace"></i> Поздравляем с покупкой!</h1>
    <h2>После подтверждения оплаты, ваш товар будет отправлен по указанному адресу</h2>

    <span class="loader"></span>
</div>

<script>
    setTimeout(() => {
        document.location = '/';
    }, 3000);
</script>